<div style="display: flex; gap: 50px;">
  <input [(ngModel)]="todo.name" type="text" class="form-control flex-grow-1" placeholder="name">
  <input [(ngModel)]="todo.content" type="text" class="form-control flex-grow-1" placeholder="content">
  <button (click)="addTodo()" [disabled]="!todo.name.trim() || !todo.content.trim()"
          class="btn btn-danger">add</button>
  </div>

<br/><br/>

<div class="row">

    <div class="col">

      <div class="alert alert-dark" role="alert">
        Waiting todos
      </div>

        <ol class="list-group">
          @for (todo of waitingTodos(); track todo) {
            <li class="list-group-item" style="display: flex; gap: 20px;">
              {{todo.name}} : {{todo.content}}
              <select  class="form-control form-control-sm" #status [value]="todo.status" (change)="modifyStatus(todo.id,status.value)" >
                <option value="waiting">waiting</option>
                <option value="in progress">in progress</option>
                <option value="done">done</option>

              </select>

              <i (click)="deleteTodo(todo.id)" class="fa fa-trash" aria-hidden="true"></i>
            </li>
          }
        </ol>

    </div>


    <div class="col">

      <div class="alert alert-warning" role="alert">
        In progress todos
      </div>

        <ol class="list-group">
          @for (todo of inProgressTodos(); track todo) {
            <li class="list-group-item" style="display: flex; gap: 20px;">
              {{todo.name}} : {{todo.content}}
              <select  class="form-control form-control-sm" #status [value]="todo.status" (change)="modifyStatus(todo.id,status.value)" >
                <option value="waiting">waiting</option>
                <option value="in progress">in progress</option>
                <option value="done">done</option>

              </select>
              <i (click)="deleteTodo(todo.id)" class="fa fa-trash" aria-hidden="true"></i>
            </li>
          }
        </ol>

    </div>

    <div class="col">

      <div class="alert alert-success" role="alert">
        done todos
      </div>

        <ol class="list-group">
          @for (todo of doneTodos(); track todo) {
            <li class="list-group-item" style="display: flex; gap: 20px;">
              {{todo.name}} : {{todo.content}}
              <select  class="form-control form-control-sm" #status [value]="todo.status" (change)="modifyStatus(todo.id,status.value)" >
                <option value="waiting">waiting</option>
                <option value="in progress">in progress</option>
                <option value="done">done</option>

              </select>
              <i (click)="deleteTodo(todo.id)" class="fa fa-trash" aria-hidden="true"></i>
            </li>
          }
        </ol>

    </div>
</div>
